<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/global.html :: head-files"></head>

<body>

	<nav th:replace="common/global.html :: global-navbar"></nav>

	<div class="containter-fluid ">

		<div th:each="receipe : ${receipes}" class="box">
			<h2 th:text="${receipe.title}"></h2>
			<a href="#">View</a> 
			<a href="#">Update</a> 
			<a href="#">Delete</a>
		</div>

	</div>




	<div th:replace="common/global.html :: footer-files"></div>

</body>

</html>
